.card{
    display: flex;
    flex-direction: column;
    background-color: #d1d1d1;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 150px;
}

.card p{
    color: blue;
}